receivers:
  otlp:
    protocols:
      grpc:
        endpoint: localhost:55680

exporters:
  logging:
    loglevel: debug
  awsxray:
  awsemf:

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging, awsxray]
    metrics:
      receivers: [otlp]
      exporters: [logging, awsemf]
